@import '../../App.scss';

.content-recive {   
    width: 25%;
    height: 50%;
    border-radius: 7px;
    background-color: $white-color;
    padding: 2%;
    
}

h3 {
    @include text-style-subtitle;
}

.text-bold {
    @include text-style-textBoldDark;
    
}

.final-recive{  
    padding:3%;
}

.item{
    display:flex;
    justify-content: space-between;
    padding: 5px;

    
}

.text-price {
    @include text-style-textRegular;
}

p {
    @include  text-style-footer;
}

.div-p {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 2%;
    margin-bottom: 10%;

}
p {
    margin:0%;

}

.button{
    margin-left: 6%;
}