@import '../../App.scss';

button {
    @include text-style-textBoldWhite;
    width: 100%;
    height: 50px;
    border-radius:5px;
    background-color: $blue-color;
    position:center;
    border: none;
}