@import '../../App.scss';

.Delivers {
    display: flex;
    justify-items: baseline;
    align-items: center;
    gap: 5px;
}

.date {
    @include text-style-textBoldBlue;
}

.pCode {
    @include text-style-textBold;
}