@import '../../App.scss';

.Delivers {
    display: flex;
    align-items: center;
    gap: 5px;
    width: auto;
}

.date {
    @include text-style-textBoldBlue;

}

.pCode {
    @include text-style-textBold;

}