@import "../../App.scss";

.shopping-cart {
    background-color: $white-color;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    margin-top: 30px;
    padding: 16px;
    width: 100%;

    h2 {
        @include text-style-title;
        font-size: 25px;
        margin-left: 10px;
        margin-bottom: 22px;
    }

    hr {
        height: 1px;
        width: 95%;
        background-color: #000000;
        border: none;
    }
}

.quantity-paybox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 24px;
    margin-bottom: 50px;

    .select-paybox {
        width: 16%;
        padding: 8px;
        border: 1px solid black;
        border-radius: 5px;
    }
}

//Phones
@media only screen and (max-width:620px) {
    
    .shopping-cart {
        padding: 35px;
    }

}