.main-earbuds {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}

.wrapper-photos {
    display: flex;
    flex-direction: row;
}

.earbuds-details {
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin-top: 2em;
    margin-left: 20px;
    margin-bottom: 2em;
}

.product-info {
    border-bottom: 0.5px solid black;

    h1 {
        margin-bottom: 26px;
    }

    p {
        margin-bottom: 28px;
    }

    h2 {
        margin-bottom: 50px;
    }
}

.cart-container-earbuds {
    display: flex;
    flex-direction: column;

    .colors {
        margin: 26px 0;
    }


}

//Tablet
@media only screen and (min-width:620px) and (max-width:1024px) {
    .wrapper-photos {
        flex-direction: column;
    }


    .cart-container-earbuds {
        flex-direction: row;
        gap: 1em;
        justify-content: space-between;
    }

    .add-to-cart {
        width: 50%;
    }
}

//Phones
@media only screen and (max-width:620px) {
    .wrapper-photos {
        flex-direction: column;
    }

    .cart-container {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }
}