@import '../../App.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul li a.active {
    @include text-style-textBoldBlue;
}

.cart-icon {
    fill: var($blue-color);
}

li {
    list-style: none;
    display: inline;
    margin: 0 6px;

    a {
        text-decoration: none;
    }
    
    a:visited {
        color: $light-gray-color;
    }
}

.nav-wrapper {
    display: flex;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 0px 7px 10px #ebebeb;
    width: 100%;
    align-items: center;
    justify-content: center;
    @include text-style-textRegular;
   
}

.menunav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

.iconos-nav {
    margin-left: auto;
    align-content: space-around;
}

.iconos-nav img {
    margin-right: 14px;
}

.nav-img {
    align-content: center;
    justify-content: flex-start;
    height: 25px;
    width: 25px;
    gap: 30px;
}

.menu-hamburgesa {
    display: none;
}





@media only screen and (min-width:620px) and (max-width:1024px) {

    .iconos-nav img {
    margin-right: 8px;
}
    .nav-wrapper {
        box-shadow: none;
    }

    .menu-hamburgesa {
        display: none;
    }
}


@media only screen and (max-width:620px) {
    .nav-wrapper {
        justify-content: space-between;
    }

    .menunav {
        position: fixed;
        display: flex;
        top: 0;
        right: -100%;
        flex-direction: column;
        width: 96%;
        height: 100%;

    }

    .menu-hamburgesa {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        margin-left: 5px;
    }

    .iconos-nav {
        display: flex;
        gap: 5px;
        justify-content: flex-start;
    }

    .show-menu {
        right: 0;
    }
}

